# Dependencies
node_modules/
.pnp
.pnp.js
package-lock.json
yarn.lock

# Testing
coverage/

# Production
dist/
dist-ssr/
build/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Firebase
firebase-debug.log
.firebase/
